[mat-dialog-title] {
  word-break: break-word;
}

.tableContainer
.status-selection
.payment-selection {
  width: 100%;
  overflow: auto;
}

mat-expansion-panel {
  width: 100%;
  min-width: 800px;
}

table {
  width: 100%;
}

.totalRow {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  text-transform: uppercase;
}

th {
  font-weight: bold;
  margin-right: 8px;
}

td {
  min-width: 100px;
  margin-right: 8px;
}

.bookingDateData,
.dishNameData {
  word-break: break-word;
}

.creationDateData,
.nameData,
.emailData,
.commentData,
.extrasData,
.statusData,
.paymentData {
  word-break: break-word;
}

.tableIdHeader,
.tableIdData,
.priceHeader,
.priceData,
.statusData,
.statusHeader,
.paymentHeader,
.paymentData {
  text-align: right;
  margin-right: 4px;
}

.submitButton {
  margin-right: 16px;
}

mat-expansion-panel {
  margin-bottom: 8px;
}

@media (max-width: 599px) {
  td,
  th {
    min-width: 100px;
  }
}
