<div class="property-text-center bookTableConfirmTitle">
  <h3>{{'bookTable.dialog.bookingSuccess' | transloco}}</h3>
</div>
<mat-dialog-content>
  <table>
    <th>
      {{'sidenav.bookingId' | transloco}}
    </th>
    <tr>     
      <td>
        {{ data.bookingToken }}
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <table>
    <tr>
      <td>
        <div class="align-left">
          <button name="closeConfirmation" mat-button [cdkCopyToClipboard]="data.bookingToken" color="dark">
            {{ 'buttons.copyToClipboard' | transloco }}
          </button>
        </div>
      </td>
      <td>
        <div class="align-right">
          <button name="closeConfirmation" mat-button (click)="close()">
            {{ 'buttons.close' | transloco }}
          </button>
        </div>
      </td>
    </tr>
  </table>
</mat-dialog-actions>
  