
form {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    font-size: 16px;
    width: 100%;
}

mat-card {
    text-align: center;
    width: 100%;
}

.formFields {
    min-width: 100;
}

.dish {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    width: 100%;
}

.star {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    width: 20%;
}
