<div data-name="orderDiv" class="orderDiv">
  <div class="orderContent">
    <mat-toolbar>
      <div class="sidenavTitle">
        <button class="forMobile" mat-icon-button (click)="closeSidenav()">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-icon class="forDesktop orderIcon">shopping_basket</mat-icon>
        <span class="sidenavTitleSpan">{{
          'sidenav.title' | transloco | uppercase
        }}</span>
      </div>
    </mat-toolbar>

    <div class="orderDetails">
      <h4 class="sidenavHeader">
        {{ 'sidenav.header' | transloco }}
      </h4>

      <div
        *ngIf="(orders$ | async)?.length < 1; else sidenavOrder"
        class="noOrders"
      >
        <span>{{ 'sidenav.noSelection' | transloco }}</span>

        <button
          name="viewMenu"
          mat-button
          color="accent"
          (click)="navigateTo('menu')"
        >
          {{ 'buttons.viewMenu' | transloco }}
        </button>
      </div>
      <ng-template #sidenavOrder>
        <div
          class="sidenavOrderContainer"
          [class.scrollOrders]="(orders$ | async)?.length > 3"
        >
          <app-public-sidenav-order
            *ngFor="let order of orders$ | async"
            [order]="order"
            (orderIncreased)="onOrderIncreased($event)"
            (orderDecreased)="onOrderDecreased($event)"
            (orderRemoved)="onOrderRemoved($event)"
            (commentAdded)="onCommentAdded($event)"
            (commentRemoved)="onCommentRemoved($event)"
          ></app-public-sidenav-order>
        </div>
      </ng-template>
      <div *ngIf="(orders$ | async)?.length > 0" class="orderTotal">
        <h3>{{ 'formFields.total' | transloco }}</h3>
        <h3>{{ totalPrice$ | async | number: '1.2-2' }} €</h3>
      </div>
      <div class="orderTable">
        <!-- <div>
          <mat-card *ngIf="!bookingId.value">
            <div class="orderTableNotice">
              <mat-icon>report_problem</mat-icon>

              <span class="invitationAlert"
                >{{ 'alerts.orderID' | transloco }}
              </span>

              <button
                name="bookTable"
                mat-button
                color="accent"
                (click)="navigateTo('bookTable')"
              >
                {{ 'buttons.bookTable' | transloco }}
              </button>
            </div>
          </mat-card>
        </div> -->

        <!-- <div>
          <mat-form-field class="orderBookingID" color="accent">
            <input
              name="orderBookingID"
              matInput
              #bookingId
              [placeholder]="'sidenav.bookingId' | transloco"
              [value]='SidenavComponent.bookingIdValue'
            />
          </mat-form-field>
        </div> -->

        <div>
          <mat-checkbox
            (change)="delivery = $event.checked"
            >
            Delivery</mat-checkbox
          >             
        </div>

        <div class="bookTableFormContainer" *ngIf="!delivery">
          <form [formGroup]="bookForm">

            <div>
              <mat-form-field color="accent" class="full-width-field">
                <input matInput [placeholder]="'formFields.name' | transloco" formControlName="name">
                <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                  <div *ngIf="name.errors.required">
                    {{'bookTable.formErrors.nameRequired' | transloco}}
                  </div>
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field color="accent" class="full-width-field">
                <input matInput [placeholder]="'formFields.email' | transloco" formControlName="email">
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors.required">
                    {{'bookTable.formErrors.emailRequired' | transloco}}
                  </div>
                  <div *ngIf="email.errors.pattern">
                    {{'bookTable.formErrors.emailPattern' | transloco}}
                  </div>
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field color="accent" class="full-width-field">
                <input matInput [placeholder]="'formFields.dateTime' | transloco" formControlName="bookingDate" [min]="minDate" [owlDateTimeTrigger]="booking1"
                  [owlDateTime]="booking1">
                <owl-date-time [pickerMode]="'dialog'" [firstDayOfWeek]="getFirstDayWeek()" #booking1></owl-date-time>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="guestsField full-width-field" color="accent">
                <input matInput [placeholder]="'formFields.assistants' | transloco" formControlName="assistants" type="number">
                <mat-error *ngIf="assistants.invalid && (assistants.dirty || assistants.touched)">
                  <div *ngIf="assistants.errors.required">
                    {{'bookTable.formErrors.assistantsRequired' | transloco}}
                  </div>
                  <div *ngIf="assistants.errors.max">
                    {{'bookTable.formErrors.assistantsMax' | transloco}}
                  </div>
                  <div *ngIf="assistants.errors.min">
                    {{'bookTable.formErrors.assistantsMin' | transloco}}
                  </div>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="guests">
              <mat-form-field class="chipListField full-width-field">
                <mat-chip-list #chipList aria-label="'formFields.guestsPH' | transloco">
                  <mat-chip *ngFor="let invite of invitationModel" [selectable]="true"
                            [removable]="true" (removed)="removeInvite(invite)">
                    {{invite}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input [placeholder]="'formFields.guestsPH' | transloco"
                          [matChipInputFor]="chipList"
                          [matChipInputAddOnBlur]="false"
                          (matChipInputTokenEnd)="validateEmail($event)">
                </mat-chip-list>
              </mat-form-field>
            </div>
        </form>
      </div>

      <div class="bookTableFormContainer" *ngIf="delivery">
        <form [formGroup]="deliveryForm">

          <div>
            <mat-form-field color="accent" class="full-width-field">
              <input matInput [placeholder]="'formFields.name' | transloco" formControlName="name">
              <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                  {{'bookTable.formErrors.nameRequired' | transloco}}
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field color="accent" class="full-width-field">
              <input matInput [placeholder]="'formFields.email' | transloco" formControlName="email">
              <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                  {{'bookTable.formErrors.emailRequired' | transloco}}
                </div>
                <div *ngIf="email.errors.pattern">
                  {{'bookTable.formErrors.emailPattern' | transloco}}
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field color="accent" class="full-width-field">
              <input matInput [placeholder]="'formFields.city' | transloco" formControlName="city">
              <mat-error *ngIf="city.invalid && (city.dirty || city.touched)">
                <div *ngIf="city.errors.required">
                  {{'bookTable.formErrors.cityRequired' | transloco}}
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field color="accent" class="full-width-field">
              <input matInput [placeholder]="'formFields.street' | transloco" formControlName="street">
              <mat-error *ngIf="street.invalid && (street.dirty || street.touched)">
                <div *ngIf="street.errors.required">
                  {{'bookTable.formErrors.streetRequired' | transloco}}
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field color="accent" class="full-width-field">
              <input type="number" matInput [placeholder]="'formFields.streetNr' | transloco" formControlName="streetNr">
              <mat-error *ngIf="streetNr.invalid && (streetNr.dirty || streetNr.touched)">
                <div *ngIf="streetNr.errors.required">
                  {{'bookTable.formErrors.streetNrRequired' | transloco}}
                </div>
              </mat-error>
            </mat-form-field>
          </div>

        </form>
      </div>

        <div>
          <mat-checkbox
            class="orderTermsCheckbox"
            data-name="orderTerms"
            #terms
            >{{ 'formFields.terms' | transloco }}</mat-checkbox
          >
        </div>

      </div>
    </div>
  </div>
  <div class="align-right">
    <button
      class="orderCancel"
      name="orderCancel"
      mat-button
      (click)="closeSidenav()"
    >
      {{ 'buttons.cancel' | transloco | uppercase }}
    </button>
    <button
      class="orderSubmit"
      name="orderSubmit"
      mat-button
      color="accent"
      (click)="sendBooking()"
      [disabled]="!(terms.checked && ((bookForm.valid && !delivery) || (deliveryForm.valid  && delivery && ((orders$ | async)?.length > 0))))"
    >
      {{ 'buttons.send' | transloco | uppercase }}
    </button>
  </div>
</div>
