<h3 mat-dialog-title>
  {{ 'cockpit.user.editUserTitle' | transloco }} :
  {{ data.username }}
  (
  {{ 'cockpit.user.idH' | transloco }}:
  {{ data.id }}
  )
</h3>
<mat-divider></mat-divider>
<form (ngSubmit)="changePassword(signForm.form.value)" #signForm="ngForm">
  <div class="formFields">
    <div>
      <mat-form-field color="accent">
        <input
          matInput
          [placeholder]="'formFields.username' | transloco"
          name="username"
          [value]="data.username"
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field color="accent">
        <input
          matInput
          [placeholder]="'formFields.email' | transloco"
          name="email"
          validateEmail
          [value]="data.email"
        />
        <mat-error>{{ 'userArea.emailError' | transloco }}</mat-error>
      </mat-form-field>
    </div>

    <mat-select
      class="role-selection"
      name="userRoleId"
      [(value)]="selectedRole"
      [placeholder]="'formFields.role' | transloco"
      required
    >
      <mat-option
        *ngFor="let role of roleNames"
        [value]="roleNames.indexOf(role)"
      >
        {{ role.label }}
      </mat-option>
    </mat-select>
    <mat-divider></mat-divider>

    <div>
      <mat-form-field color="accent">
        <input
          matInput
          type="password"
          name="password"
          [placeholder]="'formFields.password' | transloco"
          ngModel
          validateEqual="confirmPassword"
          reverse="true"
          #password="ngModel"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field color="accent">
        <input
          matInput
          type="password"
          name="confirmPassword"
          [placeholder]="'formFields.confirmPassword' | transloco"
          ngModel
          validateEqual="password"
          reverse="false"
          #confirmPassword="ngModel"
        />
        <mat-error>{{ 'alerts.passwordError' | transloco }}</mat-error>
      </mat-form-field>
    </div>

    <div class="align-right">
      <button name="cancel" mat-button type="button" (click)="close()">
        {{ 'buttons.cancel' | transloco | uppercase }}
      </button>
      <button
        name="submit"
        mat-button
        type="submit"
        [disabled]="!signForm.form.valid"
        color="accent"
      >
        {{ 'buttons.apply' | transloco | uppercase }}
      </button>
    </div>
  </div>
</form>
